*{
    font-family: Arial, sans-serif;
}

body{
overflow: hidden;
margin: 0px;
padding: 0px;
height: 100vh;
width: 100vw;
background-color: rgb(213, 244, 206);
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    margin: 40px;
    border-radius: 20px;
}

.backplate {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px rgb(230, 230, 230);
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.tab {
    display: flex;
    gap: 10px;
    color: #575757;
    align-self: flex-start;
    cursor: pointer;
}

.activeTab {
    font-size: 110%;
    color: rgb(0, 0, 0);
    text-decoration: overline;
}